---
interface Props {
    id: number
    nombre?: string
    apodo?: string | null //null para no tenerlo en cuenta
    correo: string
    chiste: string
}

const {id, nombre="Anonimus", apodo="Anonimus", correo,chiste} = Astro.props
---

<section class="text-xs text-[#202020] bg-transparent color-[#202020] border-gray-500 border-b-[3px] border-r-[3px] shadow-xl shadow-slate-800 p-[20px] rounded-2xl w-full h-full pb-0 ">

    <div class="bg-gradient-to-tl from-white from-slate-60% via-gray-300 via-80% to-[#454256] to-100% py-1 mx-auto rounded-3xl w-5/6 mb-2 flex items-center justify-center text-start shadow-md shadow-black">
    <img class=" mr-6 w-1/6 h-1/6 rounded-full object-cover" src="./imagenes/user.webp">
        <div>
            <h5>Nombre: <b>{nombre}</b></h5>
            <h3>Apodo: <b>{apodo}</b></h3>
            <p>Correo: <b>{correo}</b></p>
        </div>
    </div>
    <img class="w-[full] h-[full] object-cover rounded-3xl pb-3" src={chiste} alt={`chiste de ${apodo}`}>    
</section>