---
interface Props {
    id: number
    nombre?: string
    apodo?: string | null //null para no tenerlo en cuenta
    correo: string
    chiste: string
}

const {id, nombre="Anonimus", apodo="Anonimus", correo,chiste} = Astro.props

const bgCardChiste = ""
---





<section class=" w-11/12 h-full m-auto max-w-[366px] lg:w-[438px] lg:max-w-[500px] bg-transparent color-[#202020] border-gray-500 md:border-b-[3px] md:border-r-[3px] shadow-md lg:shadow-lg shadow-slate-800 rounded-2xl ">

    <div class="w-[95%] h-auto max-w-[340px] lg:w-[410px] lg:max-w-[470px] m-auto my-2 p-1 text-sm rounded-3xl flex justify-center shadow-sm bg-gradient-to-t from-transparent from-slate-60% via-gray-300 via-80% to-[#afacba] to-100% border-gray-500 md:border-b-[3px] md:border-r-[3px] shadow-slate-800 dark:from-[#19202b]  dark:via-gray-700 dark:to-gray-700">
    <img class="w-[56px] h-[56px]  rounded-full object-cover" src="./imagenes/user.webp" alt="user generico">
        <div class="ml-4">
            <p>Nombre: <b>{nombre}</b></p>
            <p>Apodo: <b>{apodo}</b></p>
            <p>Correo: <b>{correo}</b></p>
        </div>
    </div>

    <div class="w-[95%] h-full m-auto object-cover my-2">
        <img class="w-[340px] h-[190px] lg:w-[419px] lg:h-[232px] rounded-3xl opacity-80" src={chiste} alt={`chiste de ${apodo}`}>
    </div>
        
</section>