---
import LIproyectosEtiquetas from './LIproyectosEtiquetas.astro'

interface Props {
    fecha: string
    titulo: string
    urlPrincipal: string
    logo: string
    dimenciones:string
    puesto:string
    descripcion: string
    nombreOpcional1?: string
    urlOpcional1?: string 
    nombreOpcional2?: string
    urlOpcional2?: string 
    nombreOpcional3?: string
    urlOpcional3?: string 
    etiquetas: string
}

const {fecha, titulo, urlPrincipal, logo,dimenciones, puesto, descripcion, nombreOpcional1, urlOpcional1, nombreOpcional2, urlOpcional2, nombreOpcional3, urlOpcional3, etiquetas} =Astro.props

const arrayEtiquetas = etiquetas.split(",");

---


        <li class="mb-20 lg:mb-12">
            <div class="w-auto h-auto group lg:relative grid grid-cols-1 pb-1 transition-all lg:grid-cols-8 lg:gap-8">
                <div class=" lg:absolute lg:-inset-x-6 lg:-inset-y-4 z-0  rounded-md transition motion-reduce:transition-none block lg:group-hover:bg-gray-400 dark:group-hover:bg-[#12161e] group-hover:shadow-xl">
                </div>
                <span class="flex flex-col text-sm md:text-lg lg:z-10 mb-5 mt-1 font-bold uppercase lg:tracking-wide lg:col-span-3 lg:text-center">
                    {fecha}<br>
                    <a  class={`${dimenciones} m-auto lg:col-span-3 lg:z-10`} target="_blank" href={urlPrincipal}>
                        <img class={`${dimenciones} opacity-80`}  src={logo} alt={titulo}>
                    </a>
                </span>
                    <div class="z-10 lg:col-span-5">
                        <div class="mt-5">
                            <a class="text-xl font-bold md:text-2xl group/link lg:inline-flex lg:items-baseline md:font-medium leading-tight dark:text-white dark:hover:text-[#3b9545] hover:text-[#3b9545]" target="_blank" href={urlPrincipal}>{titulo}
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="inline-block h-4 w-4 shrink-0 transition-transform group-hover/link:-translate-y-1 group-hover/link:translate-x-1 group-focus-visible/link:-translate-y-1 group-focus-visible/link:translate-x-1 motion-reduce:transition-none ml-1 translate-y-px" aria-hidden="true">
                                    <path fill-rule="evenodd" d="M5.22 14.78a.75.75 0 001.06 0l7.22-7.22v5.69a.75.75 0 001.5 0v-7.5a.75.75 0 00-.75-.75h-7.5a.75.75 0 000 1.5h5.69l-7.22 7.22a.75.75 0 000 1.06z" clip-rule="evenodd">
                                    </path>
                                </svg>
                            </a>
                        </div>
                    <p class="my-4 text-lg font-semibold md:text-xl">{puesto}</p>
                    <p class="mt-2 text-base md:text-xl leading-normal">{descripcion}
                    </p>

                    <ul class="mt-2 flex justify-center md:w-[370px] lg:w-auto lg:mx-0 lg:justify-start md:mx-auto flex-wrap">
                        <li class="lg:mr-4 ">
                            <a class="relative mt-2 inline-flex items-center  font-medium dark:text-white dark:hover:text-[#3b9545] hover:text-[#3b9545]" target="_blank" href={urlOpcional1}>
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="mr-1 h-3 w-3" aria-hidden="true">
                                    <path d="M12.232 4.232a2.5 2.5 0 013.536 3.536l-1.225 1.224a.75.75 0 001.061 1.06l1.224-1.224a4 4 0 00-5.656-5.656l-3 3a4 4 0 00.225 5.865.75.75 0 00.977-1.138 2.5 2.5 0 01-.142-3.667l3-3z">
                                    </path>
                                    <path d="M11.603 7.963a.75.75 0 00-.977 1.138 2.5 2.5 0 01.142 3.667l-3 3a2.5 2.5 0 01-3.536-3.536l1.225-1.224a.75.75 0 00-1.061-1.06l-1.224 1.224a4 4 0 105.656 5.656l3-3a4 4 0 00-.225-5.865z">
                                    </path>
                                </svg>
                                <span class="text-base md:text-xl" >{nombreOpcional1}
                                </span>
                            </a>
                        </li>
                        <li class="mr-4">
                            <a class="relative mt-2 inline-flex items-center font-medium dark:text-white dark:hover:text-[#3b9545] hover:text-[#3b9545]" target="_blank" href={urlOpcional2}>
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="mr-1 h-3 w-3" aria-hidden="true">
                                    <path d="M12.232 4.232a2.5 2.5 0 013.536 3.536l-1.225 1.224a.75.75 0 001.061 1.06l1.224-1.224a4 4 0 00-5.656-5.656l-3 3a4 4 0 00.225 5.865.75.75 0 00.977-1.138 2.5 2.5 0 01-.142-3.667l3-3z">
                                    </path>
                                    <path d="M11.603 7.963a.75.75 0 00-.977 1.138 2.5 2.5 0 01.142 3.667l-3 3a2.5 2.5 0 01-3.536-3.536l1.225-1.224a.75.75 0 00-1.061-1.06l-1.224 1.224a4 4 0 105.656 5.656l3-3a4 4 0 00-.225-5.865z">
                                    </path>
                                </svg>
                                <span class="text-base md:text-xl">{nombreOpcional2}
                                </span>
                            </a>
                        </li>
                    </ul>

                    <ul class="mt-2 flex justify-center lg:justify-start flex-wrap text-white">
                        {
                            arrayEtiquetas.map((etiqueta) => <LIproyectosEtiquetas etiqueta={etiqueta}/> )
                        }
                    </ul>
                </div>
            </div>
        </li>
